*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  border: none;
}

body{
    background: #ececf4ee;
}




.header{
    background-color: #001530;
    width: 100%;
    height: 100px;
    display: fixed;
    position: fixed;
    box-shadow: 0 0 10px 10px  #dbdadc;
    z-index: 1000; /*O z-index é uma propriedade CSS que controla a ordem de empilhamento (ou camadas) dos elementos em uma página da web*/
}

.header .card-logo{
    width: 100%;
    height: 0px;
}

.header .container{ /*Pega o container dentro do header*/
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between; /*Mexe no eixo X*/
    align-items: center; /*Mexe no eixo y*/

}

.logo{
    color: cornflowerblue;
}

.header .container li{
    display: inline; 
    padding: 0 15px;
}

.header .container .navbar li a{
    text-decoration: none;
    color: white;
}

.header .container .cadastro-login li a{
    text-decoration: none;
    color: white;
}

.logo-cold{
    color: #ffffff;
}

.logo-tech{
    color: #ffffff;
}
.imagem-logo{
    width: 100px;
    padding: 5px;
    display: flex;
}

.borda-cadastro{ /*BORDA DO LINK CADASTRE-SE*/
    border-radius: 5px;
    border: 1.3px white solid; 
}

.icon-home {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('./assets/home.svg');
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    filter: hue-rotate(350deg);
    position: absolute;
    top: 38.5px;
    left: 590px;
}


.icon-sobre {
       /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
       content: url('./assets/sobre.svg');
       width: 20px; /*Defina o tamanho desejado para o ícone */
       height: 20px;
       filter: hue-rotate(350deg);
       position: absolute;
       top: 39.5px;
       left: 660px;
}

.icon-contato{
     /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
     content: url('./assets/contato.svg');
     width: 20px; /*Defina o tamanho desejado para o ícone */
     height: 20px;
     filter: hue-rotate(350deg);
     position: absolute;
     top: 39.5px;
     left: 765px;
}

.icon-login {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('./assets/login.svg');
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    filter: hue-rotate(350deg);
    position: absolute;
    top: 39.5px;
    right: 145px;
}


.card{
    display: flex;
    padding-top: 25px;
    justify-content: space-evenly;
}

.img_login {
    /* margin-top:100px; */
    width: 30%;
    padding-top: 100px

}

.imagem_login{
    /* width: 40vw;
    height: 60vh; */
    width: 100%;
    height: 455px;
    border-radius: 15px;
}

.card_login {
    box-shadow: 0 0 10px 4px #ffffff;
    border: none;
    border-radius: 15px;

    align-items: center;
    padding: 20px;
    width: 30%;
    max-height: 450px;
    /* height: 35vh; */
    margin-top: 100px;
}

.titulo_login {
    display: flex;
    justify-content: center;
}

.container_input {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 40%;
    gap: 24px;
}



.ipt_senha, .ipt_email {
    border: 1px solid;
    border-radius: 8px;
    padding-left: 5px;
    padding-left: 10px
}

.ipt_senha, .ipt_email, .botao{
    width: 270px;
    height: 30px;
}


.email, .senha {
    margin: 20px 0 10px 0;
}

.recuperar_senha{
    font-size: 9px;
    margin-top: 5px;
    color: black;

}

.botao{
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background: #001530 ;
    box-shadow: 7px 6px 4px -5px #001530;
    margin-top: 20px;
    color: white
}


.footer .container p{
    text-align: center;
    color: white;
}

.footer .container .imagem-footer{
    background-image: url('./assets/wave2.png'); /* Substitua pelo caminho correto para a sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o rodapé */
    padding: 100px; /* Espaçamento interno no rodapé */
    filter: grayscale(0%) 
    brightness(25%)
    sepia(2%) /**/
    hue-rotate(355deg);

}

/*
.foo {
  display: inline-block;
  width: 30%;  Defina a largura desejada para cada div 
  margin: 10px;  Adicione margens para separação entre as divs 
  padding: 10px; Adicione espaço interno 
}*/

.container_infor_footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container_icones, .foo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150px;
    
}

.icones{
    display: flex;

}

.container .imagem-footer{
    height: 80%;
}

.imagem-footer {
  display: flex;
  justify-content: space-between; /* Distribui as divs uniformemente */
  text-align: center; 
  height: 150px;
}

.imagem-footer { /*.foo*/
    margin-top: 75px;
}

/* #ececf4   #f4f4fc  #ececf4ee */

.icone_instagram, .icone_facebook, .icone_youtube, .icone_github, .icone_twitter {
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    background-color:   white;
    margin: 0 3px;
    border-radius: 5px;
}

.icone_instagram {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('./assets/instagram.svg');
    /*Defina o tamanho desejado para o ícone */
    /* width: 20px; 
    height: 20px;
    filter: hue-rotate(350deg);
    position: absolute;
    top: 210px;
    right: 350px;
    background-color:   white;
    border-radius: 5px;
    cursor: pointer; */
}

.icone_facebook {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('./assets/facebook-f.svg');
    /* width: 20px; 
    height: 20px;
    filter: hue-rotate(350deg);
    position: absolute;
    top: 210px;
    right: 320px;
    background-color:  white;
    border-radius: 5px;
    cursor: pointer; */
}

.icone_youtube{
     /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
     content: url('./assets/youtube.svg');
     /* width: 20px; 
     height: 20px;
     filter: hue-rotate(350deg);
     position: absolute;
     top: 210px;
     right: 290px;
     background-color:  white;
     border-radius: 5px;
     cursor: pointer; */
}

.icone_github{
     /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
     content: url('./assets/github-alt.svg');
     /* width: 20px; 
     height: 20px;
     filter: hue-rotate(350deg);
     position: absolute;
     top: 210px;
     right: 260px;
     background-color:  white;
     border-radius: 5px;
     cursor: pointer; */
}

.icone_twitter{
        /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
        content: url('./assets/twitter-alt.svg');
        /* width: 20px; 
        height: 20px;
        filter: hue-rotate(350deg);
        position: absolute;
        top: 210px;
        right: 230px;
        background-color: white;
        border-radius: 5px;
        cursor: pointer; */
}

.titles-footer{
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}


