* { /*Body já vem com especificações,ele deixa uma pequena borda*/
    margin: 0; /*Quero que tire todos os lados*/
    padding: 0; /*Para ficar sem margem dentro dos elementos*/
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
}

.imagem-fundo{
    background-image: url("../imagens/fundoTermolabel2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 50px;
    /*background: linear-gradient(45deg, #0CC0DF, #9bc2f5);*/
}

.imagem-fundo p{
    color: white;
    font-size: 50px;
    font-weight: bold;
}


.header{
    background-color: #001530;
    width: 100%;
    height: 100px;
    display: fixed;
    position: fixed;
    box-shadow: 0 0 10px 10px  #dbdadc;
    z-index: 1000; /*O z-index é uma propriedade CSS que controla a ordem de empilhamento (ou camadas) dos elementos em uma página da web*/
}

.header .card-logo{
    width: 100%;
    height: 0px;
}

.header .container{ /*Pega o container dentro do header*/
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between; /*Mexe no eixo X*/
    align-items: center; /*Mexe no eixo y*/

}

.logo{
    color: cornflowerblue;
}

.header .container li{
    display: inline; 
    padding: 0 15px;
}

.header .container .navbar li a{
    text-decoration: none;
    color: white;
}

.header .container .cadastro-login li a{
    text-decoration: none;
    color: white;
}

.logo-cold{
    color: #ffffff;
}

.logo-tech{
    color: #ffffff;
}
.imagem-logo{
    width: 100px;
    padding: 5px;
    display: flex;
}

.borda-cadastro{ /*BORDA DO LINK CADASTRE-SE*/
    border-radius: 5px;
    border: 1.3px white solid; 
}

h2{
    color: #0CC0DF;
    text-align: center;
}

p{
    color: rgb(88, 88, 88);
    text-align: center;
    font-size: 25px;
}

h3{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: #004AAD;
}

.sobre-nos{
    margin-top: 50px;
    margin-bottom: 50px;
}

.sobre-nos p{
    margin-top: 10px;
}

.boxes{
    margin-top: 50px;
    display: flex;
}

.box{
    border: #004AAD solid;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    box-shadow:  0 0 10px 5px #c1f6ff;
    border: none;
}

.box img{
    height: 100px;
    padding-top: 15px;
    padding-left: 38.5%;
}

h4{
    text-align: center;
    color: #004AAD;
    text-transform: uppercase;
    font-family: sans-serif;
}

p{
    font-size: 20px;
    font-family: sans-serif;
}

.icon-home {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('../imagens/home.svg');
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    filter: hue-rotate(350deg);
    position: absolute;
    top: 38.5px;
    left: 590px;
}


.icon-sobre {
       /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
       content: url('../imagens/sobre.svg');
       width: 20px; /*Defina o tamanho desejado para o ícone */
       height: 20px;
       filter: hue-rotate(350deg);
       position: absolute;
       top: 39.5px;
       left: 660px;
}

.icon-contato{
     /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
     content: url('../imagens/contato.svg');
     width: 20px; /*Defina o tamanho desejado para o ícone */
     height: 20px;
     filter: hue-rotate(350deg);
     position: absolute;
     top: 39.5px;
     left: 765px;

}

.icon-login {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('../imagens/login.svg');
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    filter: hue-rotate(350deg);
    position: absolute;
    top: 39.5px;
    right: 145px;
}

.box .img-box{
    filter: grayscale(0%) 
    brightness(100%)
    sepia(10%)
    hue-rotate(320deg);
}


/*SOBREPOSIÇÃO DE IMAGENS*/
 

.imagem-termolabel1{
    height: 100px;
    width: 25%;
    z-index: 20;
    
}

.imagem-termolabel2{
    height: 100px;
    width: 25%;
    z-index: 500;
}
.imagem-termolabel3{
    height: 100px;
    width: 25%;
    z-index: 25;
}


.sobrepor1{
    width: 100%;
    height: 275px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   left: 275px;
   border-radius: 5px;
   z-index: 11;
}

.sobrepor2{
    width: 100%;
    height: 275px;
    display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top:50px;
   left: 90px;
   border-radius: 5px;
   z-index: 12;
}

.sobrepor3{
    width: 25%;
    height: 275px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top:1400px;
   left: 30px;
   border-radius: 5px;
   z-index: 10;
}
/*FIM SOBREPOSIÇÃO DE IMAGENS*/

/*MAIS INFORMAÇÕES*/
.mais-informacoes{
    background-color: #001530;
    width: 50%;
    height: 550px;
    margin-left: 15px;
    border-radius: 10px;
}

.title-info {
    color: white bold;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 15px;
}

h3{
    text-align: center;
}

/*FIM MAIS INFORMAÇÕES*/


/*INICIO FORMULÁRIO DE CONTATO*/

fieldset{
   width: fit-content;
   float: right;
   margin-right: 15px;
   border-radius: 10px;
}
legend{
    text-align: center;
    padding: 10px;
}

.formulario{
    float: right;
    margin: 25px;
   
}

.formulario .label-input{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    
}

.formulario input{
    border-radius: 10px;
    border-color: #001530;
    width: 85%;
    padding: 10px;
    color: #001530;
    margin-top: 5px;
    margin-bottom: 10px;
}

textarea{
    border-radius: 10px;
    border-color: #001530;
    width: 500px;
    height: 250px;
    padding: 15px;
}

button{
    border-radius: 5px;
    border-color: #001530;
    color: #001530 solid bold;
    width: 30%;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.button {
    justify-content: center;
    align-items: center;
    display: flex;
}

/*FIM FORMULÁRIO DE CONTATO*/


/*FOOTER*/
.footer .container p{
    text-align: center;
    color: white;
}

.footer .container .imagem-footer{
    background-image: url('../imagens/wave2.png'); /* Substitua pelo caminho correto para a sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o rodapé */
    padding: 100px; /* Espaçamento interno no rodapé */
    filter: grayscale(0%) 
    brightness(20%)
    sepia(0%) /**/
    hue-rotate(350deg);
    height: 40px;

}

.foo {
  display: inline-block;
  width: 30%; /* Defina a largura desejada para cada div */
  margin: 10px; /* Adicione margens para separação entre as divs */
  padding: 10px; /* Adicione espaço interno */
}

.container .imagem-footer{
    height: 80%;
}

.imagem-footer {
  display: flex;
  justify-content: space-between; /* Distribui as divs uniformemente */
  text-align: center; 
  height: 150px;
}

.imagem-footer .foo{
    margin-top: 75px;
}


/*ICONES DO FOOTER*/
.uil-instagram {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('../imagens/instagram.svg');
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    position: absolute;
    top: 3860px;
    right: 375px;
    background-color:   white;
    border-radius: 5px;
    cursor: pointer;
}
.uil-facebook-f {
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('../imagens/facebook-f.svg');
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    position: absolute;
    top: 3860px;
    right: 349px;
    background-color:  white;
    border-radius: 5px;
    cursor: pointer;
}

.uil-youtube{
     /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
     content: url('../imagens/youtube.svg');
     width: 20px; /*Defina o tamanho desejado para o ícone */
     height: 20px;
     position: absolute;
     top: 3860px;
     right: 321px;
     background-color:  white;
     border-radius: 5px;
     cursor: pointer;
}

.uil-github-alt{
     /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
     content: url('../imagens/github-alt.svg');
     width: 20px; /*Defina o tamanho desejado para o ícone */
     height: 20px;
     position: absolute;
     top: 3860px;
     right: 293px;
     background-color:  white;
     border-radius: 5px;
     cursor: pointer;
}

.uil-twitter-alt{
    /* Use a propriedade content e a função url() para referenciar a imagem do ícone */
    content: url('../imagens/twitter-alt.svg');
    width: 20px; /*Defina o tamanho desejado para o ícone */
    height: 20px;
    position: absolute;
    top: 3860px;
    right: 265px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
} 

/*FIM ICONES DO FOOTER*/

/*COMEÇO TEXTOS DO FOOTER*/
.t-endereco{
    width: 20%;
    height: 50px;
    color: white;
    position: absolute; /* Define o posicionamento absoluto */
    top: 3750px; /* Define a posição vertical em relação ao elemento pai */
    left: 265px;/* Define a posição horizontal em relação ao elemento pai */
    z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
    margin: 10px;
    display: flex;
    
}
 .p-telefone{
    width: 20%;
    height: 50px;
    color: white;
    position: absolute; /* Define o posicionamento absoluto */
    top: 3800px; /* Define a posição vertical em relação ao elemento pai */
    left: 270px;/* Define a posição horizontal em relação ao elemento pai */
    z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
    margin: 10px;
    display: flex;
}
.p-email{
    width: 20%;
    height: 50px;
    color: white;
    position: absolute; /* Define o posicionamento absoluto */
    top: 3820px; /* Define a posição vertical em relação ao elemento pai */
    left: 279px;/* Define a posição horizontal em relação ao elemento pai */
    z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
    margin: 10px;
    display: flex;
    
}
.p-zap{
    width: 20%;
    height: 50px;
    color: white;
    position: absolute; /* Define o posicionamento absoluto */
    top: 3840px; /* Define a posição vertical em relação ao elemento pai */
    left: 262px;/* Define a posição horizontal em relação ao elemento pai */
    z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
    margin: 10px;
    display: flex;
        
    }
.t-sobrenos{
        width: 20%;
        height: 50px;
        color: white;
        position: absolute; /* Define o posicionamento absoluto */
        top: 3750px; /* Define a posição vertical em relação ao elemento pai */
        left: 703px;/* Define a posição horizontal em relação ao elemento pai */
        z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
        margin: 10px;
        display: flex;
        
        
}
     .p-servicos{
        width: 20%;
        height: 50px;
        color: white;
        position: absolute; /* Define o posicionamento absoluto */
        top: 3800px; /* Define a posição vertical em relação ao elemento pai */
        left: 713px;/* Define a posição horizontal em relação ao elemento pai */
        z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
        margin: 10px;
        display: flex;
        
}
    .p-politica{
        width: 20%;
        height: 50px;
        color: white;
        position: absolute; /* Define o posicionamento absoluto */
        top: 3820px; /* Define a posição vertical em relação ao elemento pai */
        left: 650px;/* Define a posição horizontal em relação ao elemento pai */
        z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
        margin: 10px;
        display: flex;
        
}
    .p-regras{
        width: 20%;
        height: 50px;
        color: white;
        position: absolute; /* Define o posicionamento absoluto */
        top: 3840px; /* Define a posição vertical em relação ao elemento pai */
        left: 685px;/* Define a posição horizontal em relação ao elemento pai */
        z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
        margin: 10px;
        display: flex;
            
        }
    .t-redes-sociais{
            width: 20%;
            height: 50px;
            color: white;
            position: absolute; /* Define o posicionamento absoluto */
            top: 3820px; /* Define a posição vertical em relação ao elemento pai */
            left: 1115px;/* Define a posição horizontal em relação ao elemento pai */
            z-index: 999; /* Define a ordem de empilhamento, um valor alto garante que este elemento fique sobre o footer */
            margin: 10px;
            display: flex;
            
            
    }
    /*FIM TEXTOS DO FOOTER*/

span {
    color: rgb(255, 255, 255);
}



/*  Padding é a margin interna do elemento
    UL -> Lista desordenada
    OL -> Lista ordenada
    LI -> Itens da Lista

    ATALHOS:
    Agilidade li*3 já cria 3 intens de lista
    CRTL ALT pra baixo agiliza digitação
    HREF -> Referência do elemento
*/



/*

CORES EM HEXADECIMAL DA LOGO

#0CC0DF

#004AAD

#5E17EB

*/