*{
    margin: 0;
    padding: 0; 
    font-family: 'Ubuntu', sans-serif;
}

html{
    height: 100%;
}

body{
    display: flex;
    background-color: #ececf4ee;
    height: 100%;
}



.menu-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001530;
    width: 15%;
    height: 100%;
    position: fixed;

}

.img_login{
    width: 100px;
    height: 100px;
}

.titulo{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

h4{
    margin: 25px;
    display: flex;
    justify-content: right;
}


.navbar a{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    padding: 25px;
}

li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.li_armazenamento:visited{
    font-weight: bold;
}




.container-grafico{
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    width: 100%;

}

h1{
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: center;
}

h2{
    margin-bottom: 10px;
}

.graficos-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    /* margin-left: 15%; */
    width: 100%;
}
.container-grafico_total{
   margin-left: 17%;
}

.grafico-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
    width: 100%;
    justify-content: space-between;
}

#section_umidade, #section_temperatura, #section_umidade2, #section_temperatura2{
    border-radius: 10px;
    box-shadow: 0 0 7px 4px #ffffff;
    height: fit-content;
    width: 35vw;
}

.section_umidade, .section_temperatura{
    margin-right: 10px;
}

.titulo-grafico-direito{
    display: flex;
    /* justify-content: flex-start; */
    /* margin-left: -200px; */
}
.grafico-2{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;
    justify-content: space-between;

}
.grafico-umidade1{
    margin-right: 10px;
    
}
.grafico-temperatura1{
    margin-left: 10px;
}
.grafico-2{
    padding-top: -90px;
}
.grafico_umidade{
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px #ffffff;
}

.grafico_temperatura{
    border-radius: 10px;
    box-shadow: 0 0 10px 4px #ffffff;
}

.alerta_umidade{
    margin-top: 50px;
}

.alerta_umidade, .alerta_temperatura{
    /* margin-left: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .p_umidade, .p_temperatura{
    font-weight: bold;
    font-size: 20px;
    margin: 15px 10px;
} 

.alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    color: white;
    margin: 0 5px;
    border-radius: 5px;
}

.quadrados{
    display: flex;
    flex-direction: row;
}

.quadrado1, .quadrado8{
    background-color: rgb(226, 11, 11);
}

.quadrado2, .quadrado7{
    background-color: rgb(241, 159, 8);
}

.quadrado3, .quadrado6{
    background-color: rgb(226, 226, 16);
}

.quadrado4, .quadrado5{
    background-color: rgb(2, 124, 2);
}

.p_registro{
    font-weight: bold;
    font-size: 20px;
}

.ativo > a {
    font-weight: bold;
    color: black;
}
.ativo {
    background-color: white;
    border-radius: 8%;
}

.div_formCadastro{
    color: black;
    display: flex;
    justify-content: center;
}

.card_flex{
    display: flex;
    justify-content: center;
    justify-content: flex-start;
}

#div_cadastro{
    margin-top: 50px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
}

.container-     {
    margin-left: -140px;
}

.form_caminhao{
    border: 1px solid black;
    border-radius: 8px;
    width: 30%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: none;
    box-shadow: 0 0 10px 4px #ffffff;
}

#PopUp{
    margin-left: 250px;
    margin-top: -275px;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
} 
#formulario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} 

